<div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
            <a href="{% url 'dashboard' %}" class="nav-1ink text-dark {% if '/dashboard/' == request.path %} bg-warning {% endif %}">Dashboard</a>
            <a href="{% url 'categories' %}" class="nav-1ink text-dark {% if '/categories/' in request.path %} bg-warning {% endif %} ">Categoris</a>
            <a href="" class="nav-1ink text-dark ">Posts </a>
            <a href="" class="nav-1ink text-dark ">Users</a>
        </div>
     </div>